.colored-text {
  background-color: #f7f3e8;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
}
.des {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 2em;
  color: #066cb1;
}
.ammt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 5em;
  color: #066cb1;
  text-shadow: 3px 3px 3px #f7c331;
  padding-top: 25px;
}
hr {
  border: none;
  height: 2px;
  background-color: #066cb1; 
}
.ammountContainer {
  width: 1000;
  height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ammountContainer:hover .transact-btns {
  display: flex; 
}
.ammountContainer:hover .transact-btns {
  display: flex; 
}
.box-image {
  padding: 40px;
  width: 400;
  height: 300;
  max-width: 100%;
  max-height: 100%;
}
.transact-btns {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
}
.transact-btns .b-button {
  margin: 0 20px;
}
.hover-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: bold;
  color: #9e9170;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  transition: opacity 0.1s;
}

.ammountContainer:hover .hover-text {
  opacity: 0; 
}


.colored-text3 {
  background-color: #f7f3e8;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  left: -10px; 
}

.colored-text4 {
  background-color: #f7f3e8;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 210px;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  left: 40px; 
}
.atm-transact-btns {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  display: flex;
  width: 100%;
  overflow-y: auto;
}
.atm-transact-btns .b-button {
  margin: 20px;
}
.glyphicon{
 font-size: 400%;
 margin-top: 40%;
}